body {
    font-family: Arial, sans-serif;
    background-image: url("../images/bg.png");
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    color: black;
}

button:hover {
    background-color: #0056b3;
}

#terminal {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    white-space: pre-wrap;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    font-family: monospace;
    background: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.input-container {
    margin-top: 10px;
}

.input-container input[type="text"] {
    padding: 8px;
    width: 87.5%;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.input-container button {
    padding: 8px 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.title {
    text-align: center;
    color: antiquewhite;
}

.debug-btn {
    float: right;
}